
@font-face {
    font-family: my-font;
    src: url(../georgia/georgiab.ttf);
}
*{
    font-family: var(--font-family-montserrat);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'my-font', serif;
    font-weight: 900;
    text-transform: uppercase;
}
p{
    line-height: 1.6;
}
:root{
    --font-family-montserrat:'my-font', serif;;
}
/* =================-| section-theNavbar |-===================== */
h1::first-letter{
    color: blue;
}
.but {
    font-weight: bold;
    color: #fff;
    background-color: blue;
    border: 2px solid #000;
    transition: all 0.3s ease;
  }
  .but:hover{
    background-color: green;
  }



